.board{
     display: grid;
     justify-content: center;
     width: 100px;
     height: 100px;
}

.board .chess-piece {
     width: 100px;
     height: 100px;
     backgroud-repeat: no-repeat;
     background-position: center;
     background-size: 90px;
}

.board .chess-piece:hover {
     cursor: grab;
}

.board .chess-piece:active {
     cursor: grabbing;
}

.piece-black{
     background-color: ##48C9B0;
}

.piece-white{
     background-color: #ebecd0
}

.board img{
     width: 90px;
}